/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-image: url(../img/img1.jpg);
  font-family: fantasy;
}
.container {
  background-color: rgb(235, 225, 225);
  width: 960px;
  margin: auto;
  border: 2px solid burlywood;
}
.logo {
  height: 100px;
  width: 100px;
  background-image: url(../img/img4.jpg);
  position: absolute;
  top: 10px;
  left: 350px;
  background-size: cover;
}
.angel {
  height: 100px;
  width: 80px;
  background-image: url(../img/img5.jpg);
  position: absolute;
  top: 10px;
  right: 360px;
  background-size: contain;
}

.header h1 {
  font-size: 70px;
  margin: 15px;
  margin-bottom: 70px;
  text-decoration: line-through;
  color: brown;
  text-align: center;
}
.header li {
  display: inline;
  margin-top: -30px;
  padding: 15px;
  padding-bottom: 15px;
  font-size: 20px;
}
a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}
.gambar {
  background-image: url(../img/img2.jpg);
  height: 300px;
  margin-top: 25px;
  background-size: contain;
}
.main {
  width: 600px;
  float: left;
  border: 2px double brown;
}
.side {
  padding: 15px;
  width: 300px;
  float: right;
  font-size: 30px;
  font-weight: bolder;
  border: 2px double brown;
  text-align: center;
}
.side img {
  height: 100px;
  width: 100px;
  margin-top: 30px;
}
.side ul {
  font-size: 25px;
  margin-top: 25px;
}
.main h2 {
  font-size: 30px;
  margin-bottom: 20px;
  padding: 10px;
  margin-top: 20px;
}
.main p {
  padding: 20px;
}
.floater {
  padding: 15px;
  border: 4px double brown;
}
.floater img {
  float: left;
  margin-right: 20px;
  height: 150px;
  width: 150px;
}
.floater p {
  margin-left: 10px;
}
.footer {
  background-color: brown;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
